* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}




h1 {
    padding: 2rem;
}

.box {
    padding: 1rem;
    background-color: rgb(28, 26, 26);
    color: white;
    border: solid 1px;
    margin: 1rem;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
    width: 25rem;
    height: 15rem;
    display: inline-block;
}

.hidden {
    display: none;
}

.select {
    padding: 1rem;
    background-color: rgb(28, 26, 26);
    color: white;
    border: solid 5px;
    border-color: rgb(62, 62, 174);
    margin: 1rem;
    margin-left: 1.5rem;
    border-radius: 0.5rem;
    width: 25rem;
    height: 15rem;
    display: inline-block;
}