:root {
    --fundo-branco: #ffffff;
    --Fundo-claro:   #e0e0e0;
    --cor-principal: #6c63ff;
    --fundo-escuro:  #2c2c2e;
    --fundo-preto:   #070707;
    --preenchimento-s: 1rem;
    --preenchimento-m: 2rem;
    --preenchimento-l: 4rem;
    --preenchimento-xl: 6rem;
}

body {
    background-color: var(--Fundo-claro);
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #070707;
}

#image-hero {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);

}

.hero {
  height: 100vh;
  width: 100%;
  
 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content {
    position: absolute;
    padding: var(--preenchimento-m);
}

.btn {
    margin-top: 1rem;
    padding: 0.7em;
    background-color: var(--cor-principal);
    color: var(--Fundo-claro);
    border-radius: .5em;
    display: inline-block;
    border-style: none;
}

.speakers {
    align-items: center;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction:column ;
}

.speakers-grid {
    display: grid;
    grid-template-areas: 
    "speaker1"
    "speaker2"
    "speaker3";
}

.speaker-card {
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--fundo-branco);
}

.speaker-card img {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
}


.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.schedule-grid {
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4";
}

.schedule-item {
    background-color: var(--fundo-branco);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}


.newsletter-grid {
    display: grid;
    grid-template-areas:
    "img"
    "content" ;
    text-align: center;
}

.newsletter-image > img {
    width: 20rem;
    background-size: cover;
    height: 20rem;
}

.newsletter-text {
    grid-area: content;
}

.newsletter-text p {
    color: var(--fundo-branco);
}


.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 20rem;
    height: 3rem;
    border-radius: 1.0rem;
    border-style: none;
}

.form-group label {
    padding: 1rem;
}

.footer {
    
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

.footer .btn {
    align-self: center;
}


