* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto Flex, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-background: #030207;
    --color-text-foreground: #fff
}
.nav  {
    background-color: rgb(29, 29, 29);
    height: 3rem;
    text-align: center;
}

.nav a {
    font-size: 0.8rem;
    padding: 1rem;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.hero {
    height: 60vh;
    position: relative;
    
}
.hero-image {
    position: absolute;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: brightness(60%);
    z-index: -2;
}

.hero-text {
    padding-top: 7rem;
    text-align: center;
}

.hero-text > p {
    letter-spacing: 0.2rem;
    font-weight: 300;
    font-size: 1.0rem;
    padding-top: 1.5rem;
    color: var(--color-text-foreground);

}
.hero-text-h1 {
    letter-spacing: 0.2rem;
    font-weight: 300;
    font-size: 4rem;
    color: var(--color-text-foreground);

}

.hero-button {
    background-color: orange;
    color: #030207;
    margin: 2em;
    font-weight: 500;
    font-size: 16px;
    border: 0px;
    border-radius: 0.5em;
    width: 8em;
    height: 3em;
}


.section {
    margin-left: 10vw;
    margin-right: 10vw;
   
    text-align: center;
}

.section-h1 {
    text-align: center;
    font-weight: bold;
    padding: 2rem;
}

.box-item {
    display: inline-block;
    width: 25rem;
    height: 20rem;
    margin: 1rem;
    background-color: rgb(231, 231, 231);
    border-radius: 1rem;
}

.box-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 1rem;
}

.p-item {
    text-align: left;
    padding: 0.5rem;
    color: #030207;
}

.descr-item {
    text-align: left;
    padding-left: 0.5rem;
}

.hero-footer {
    height: 30vh;
    position: relative;
    
}

.hero-image-footer {
    position: absolute;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    filter: brightness(60%);
    z-index: -2;
}

.hero-text-footer {
    padding-top: 4rem;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 2rem;
}

.pre-footer {
    margin-left: 10vw;
    margin-right: 10vw;
   
    text-align: center;
}

.footer-tittle {
    padding: 2rem;
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}

.description-p {
    display: inline-block;
    font-size: 1.0rem;
    font-style: italic;
}

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 1rem;
}