<footer class="footer mt-auto py-3 border-top border-secondary text-center text-secondary">
        <div class="container">
            <span class="mb-0">&copy; 2026 Task Manager</span>
        </div>
    </footer>