<header class="p-3 border-bottom border-secondary">
        <div class="container d-flex flex-wrap align-items-center justify-content-between">
            <a href="/" class="fs-4 fw-bold text-decoration-none text-light">B-productive</a>

            <div class="d-flex gap-2">
                <a href="/" class="btn btn-outline-light btn-sm">Todas as listas</a>
            </div>
        </div>
    </header>