body {
    padding: 0;
    margin: 0;
    background-color: rgb(67, 67, 67);
}

h1 {
    background-color: black;
    color: white;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.box {
    flex: 1 0 15rem;
    height: 15rem;
    width: 15rem;
    
}