* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-rows: 4rem 10rem 10rem 4rem;
    grid-template-columns: 8rem 1fr 1fr 1fr;
    grid-template-areas: 
        "header  header  header  header"
        "sidebar content content content"
        "sidebar content content content"
        "sidebar footer  footer  footer";
}
header {
    grid-area: header;
    background-color: red;
}

.content {
    grid-area: content;
    background-color: blue;
}

.sidebar {
    grid-area: sidebar;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: green;
}

