.container {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    align-items: center;
    justify-content: start;
    border-radius: 1rem;
}

.imgProfile {
    margin-top: 2rem;
    height: 20%; /* Se a imagem sumir, mude para um valor como 80px */
    width: 20%;
    border-radius: 4rem;
    object-fit: cover;
}

.tittleName {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.separationBorder {
    border-bottom: 1px solid rgb(44, 115, 213);
}

.descriptonCard {
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    width: 100%;
    height: 1.2rem;
    border: 1px solid rgb(44, 115, 213);
    font-size: .8rem;
    
}

.buttonCard {
    background-color: rgb(44, 115, 213);
    font-size: 15px;
    padding: 0.3em;
    margin-top: .5rem;
    width: 8rem;
    height: 2.2rem;
    border-color: white;
    color: white;
    border-radius: .5rem;
}