body {
    background-color: gray;
    display: grid;
    place-content: center;
    color: white;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 1rem;
    font-size: 2.0rem;
}

.menu {
    display: grid;
    place-content: center;
    background-color: #3e3e3e;
    width: 50vw;
    height: 50vh;
}

.containerButton {
    display: flex;
    gap: 3rem;
    justify-content: center;
}