* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1rem;
}

header > p {
    font-weight: 300;
    font-size: 1.3rem;
}
h1 {
    font-size: 4rem;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    
}


.bottom-1 > p {
    font-weight: 300;
    font-size: 1.3rem;
}

.top-1 {
    text-align: center;
}

.top-1 > p {
    font-weight: 300;
    font-size: 1.3rem;
}
.item {
    margin: 1.5rem;
}

.button-diferente {
    background-color: black;
    color: white;
    border: solid;
    height: 3em;
    width: 8em;
    font-size: 1.0rem;
    border-radius: 40px;
    border: 1px solid;
    font-weight: bold;
}


.image-1 {
    text-align: center;
    width: 40rem;
    height: 30rem;
    margin: 1rem;
}

section {
    text-align: center;
}

.button {
    background-color: rgb(43, 156, 208);
    color: white;
    border: solid;
    height: 3em;
    width: 10em;
    font-size: 1.0em;
    border-radius: 40px;
    border: 1px solid;
    font-weight: bold;
    margin-bottom: 2rem;
    display: inline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 3rem;
    padding-top: 1.5rem;
}