* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: white;
}

.nav-head {
  display: flex;
  gap: 2rem;
}

.call-to-action {
  background-color: rgb(255, 65, 109);
  padding: 0.5em;
  border-radius: 0.5em;
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.call-to-action-2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem; /* Diminuí um pouco o padding */
}

/* Estilo específico para os links (botões) dentro da div */
.call-to-action-2 a {
  background-color: rgb(255, 65, 109); /* Mesma cor do botão do header */
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.nav-text {
  color: rgb(255, 65, 147);
}

.container-fundo {
  position: relative;
  width: 100%;
  height: 100vh;
  

}

.bg-img {
  position: absolute;
  object-fit: cover;
  z-index: -4;
}

.content-main {
  height: 100vh;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  padding-bottom: 4rem;
  height: 30vh;
  color: rgb(255, 65, 109);
  font-size: 4rem;
  text-shadow: 4px 4px #333;
}


footer {
 position: fixed;
 right: 0;
 bottom: 0;
 background-color: gray;
 opacity: 50%;
 padding: 1.5rem;
}

footer > nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

